@media screen and (max-width: 1024px) {
    .form-group {
      align-self: flex-start;
    }
}
@media screen and (max-width: 1024px) {
    .main__sticky {
      margin-top: 333px !important;
    }
}

/*news adaptation*/
@media screen and (max-width: 1024px) {
    .news__link {
      height: auto;
      width: 100%;
    }
    .news__body>.row {
      justify-content: center;
    }
    .col-4 {
      min-width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .news-page__box {
      min-height: auto;
    }
}
@media screen and (max-width: 1024px) { 
    .news-page__row {
      flex-direction: column;
      .news-page__col {
        min-width: 100%;
        .news-page__description {
          overflow-y: scroll;
        }
      }
    }
}

/*contract adaptation*/
@media screen and (max-width: 1024px) {
    .contract__box {
      flex-direction: column-reverse;
    }
    .contract__hero {
      width: 100%;
    }
    .contract__hero-number {
      float: left;
    }
    .contract__info {
      width: 100%;
      margin-top: 10px;
    }
  
    .contract___adaptBox {
      display: flex;
      width: 100%;
      height: inherit;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .contract__hero-title {
      font-size: 30px;
    }
    .contract__hero-subtitle {
      width: 100%;
    }
  
    .contract__img {
      width: 350px;
      height: 190px;
      display: block;
      float: right;
    }
}

/*ops adaptation*/
@media screen and (max-width: 1024px) {
    .ops__box {
      flex-direction: column;
    }
    .ops__info {
      width: 100%;
    }
    .ops__img {
      min-width: 480px;
    }
  }
  @media screen and (max-width: 480px) {
    .ops__img {
      min-width: 0 !important;
      width: 280px;
      margin-top: -87px;
    }
}

/*service adaptation*/
@media screen and (max-width: 1024px) {

    .service__right {
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
    }
    .service__box {
      padding: 11px;
    }
}

/* contracts adaptation */
@media screen and (max-width: 1024px) {
    .contacts__btn-box {
      flex-wrap: wrap;
      max-width: 100%;
    }
    .contacts__btn-box>a {
      margin-left: 0 !important;
      min-width: 100%;
    }
    .contacts__btn {
      min-width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .contacts h2 {
      text-align: center;
    }
  
    .contacts__row-left {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
    .contacts__row-boss {
      flex-wrap: wrap;
      gap: 50px;
    }
  
    .contacts__row-mobile__down>.contacts__col:not(:last-child) {
      margin-bottom: 50px;
    }
}
@media screen and (max-width: 1024px) {
    .contacts__info {
      min-width: 352px !important;
      position: relative;
      left: 0;
      text-align: center;
      padding: 0 24px;
    }
    .contacts__info p {
      max-height: 215px;
      overflow-y: scroll;
    }
  
    .contacts__box {
      margin-right: 0 !important;
    }
  
    .more__contacts-box {
      justify-content: center;
      // gap: 50px;
    }
    .more__contacts-box>.contacts__col:not(:last-child) {
      justify-content: center;
      margin-bottom: 50px;
    }
}
@media screen and (max-width: 1024px) {
    .contacts__email {
      width: 100%;
    }
}
@media screen and (min-width: 753px) {
    .contacts__row-mobile__down>.contacts__col {
      margin-bottom: 0px !important;
    }
}
@media screen and (max-width: 360px) {
    .contacts__info {
      min-width: 280px !important;
      position: relative;
      left: 0;
      text-align: center;
      max-width: 350px;
    }
    .contacts__info p {
      max-width: 320px;
      overflow-y: inherit;
      height: auto;
      margin-bottom: 100px;
    }
  
    .contacts__row-boss {
      gap: 10px;
    }
}

/*slick-slider adaptation*/
@media screen and (max-width:1024px) {
    .hero__adaptation-elem {
      width: 300px;
    }
    .hero__img-adaptation {
      position: absolute;
      top: 50px;
      width: 100px;
      height: auto;
      margin: 0 !important;
    }
    .hero__title {
      font-size: 25px;
      line-height: 35px;
      max-width: 450px;
    }
    .hero__description {
      max-width: 550px;
      line-height: 1.5;
    }
  
    .hero__item-fond_28 {
      background-image: none;
    }
  }
  @media screen and (max-width: 560px) {
    .hero__title {
      max-width: 350px;
    }
    .hero__title-adaptation {
      width: 100%;
    }
    .hero__description {
      max-width: 350px;
    }
    .hero__img-adaptation {
      width: 80px;
    }
  }
  @media screen and (max-width: 415px) {
    .hero__img-2 {
      display: none !important;
    }
  }
  @media screen and (max-width: 450px) {
    .hero__img-1 {
      display: none !important;
    }
  }
  @media screen and (max-width: 380px) {
    .hero__title {
      max-width: 260px;
      font-size: 20px;
      margin-bottom: 0px !important;
      line-height: 25px;
    }
    .hero__description {
      max-width: 260px;
      font-size: 14px;
      margin-top: 0px !important;
    }
    .hero__img-adaptation {
      display: none !important;
    }
    .hero__adaptation-elem {
      max-width: 250px;
      height: 100px !important;
    }
    .hero__img-numbers {
      height: 25px !important;
    }
    .contract__img {
      max-width: 290px;
    }
}

@media screen and (max-width: 1024px) {
    .hint {
      top: 0px;
    }
}

/*breadcrumbs adaptation*/
@media screen and (max-width:1024px) {
    .breadcrumbs__content {
      overflow: scroll;
    }
    .breadcrumbs__link {
      display: block;
      line-height: 15px;
      white-space: nowrap;
    }
    .breadcrumbs__content>div:nth-child(2) {
      max-width: 100%;
      // overflow: hidden;
      display: flex;
      align-items: center;
    }
    .breadcrumbs__text {
      // overflow: hidden;
      // text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 1em;
    }
  }

/*yandex map adaptation*/
@media screen and (max-width: 1024px) {
    .bx-yandex-view-layout {
      max-width: 100% !important;
    }
  }
  @media screen and (max-width: 600px) {
    .ymaps-map {
      max-height: 300px !important;
    }
    .bx-yandex-map {
      max-height: 300px !important;
    }
}

/*table adaptation*/
@media screen and (max-width: 1024px) {
    .table__wrapper {
      max-width: 100%;
      overflow: scroll;
    }
    .img-wrapper-adaptation {
      max-width: 100%;
      overflow: scroll;
      img {
        min-width: 650px !important;
      }
    }
    .certificate-box {
      margin-bottom: 20px;
    }
    .self-margin-top {
      margin-top: 1rem;
    }
  }

@media screen and (max-width: 500px) {
    .calc .form-row {
      flex-direction: column;
    }
}