@media screen and (max-width: 1024px) {
    .main__sticky {
      margin-top: 333px !important;
    }
}

@media screen and (max-width: 1024px) {
    .panel {
      display: none;
      z-index: 0;
    }
    .bg {
      z-index: 0 !important;
      display: none;
    }
  
    .panel__item {
      margin-bottom: 3px;
    }
}

/*news adaptation*/
@media screen and (max-width: 1024px) {
    .news__link {
      height: auto;
      width: 100%;
    }
    .news__body>.row {
      justify-content: center;
    }
    .col-4 {
      min-width: 100%;
    }
}

/*contract adaptation*/
@media screen and (max-width: 1024px) {
    .contract__box {
      flex-direction: column-reverse;
    }
    .contract__hero {
      width: 100%;
    }
    .contract__hero-number {
      float: left;
    }
    .contract__info {
      width: 100%;
      margin-top: 10px;
    }
  
    .contract___adaptBox {
      display: flex;
      width: 100%;
      height: inherit;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .contract__hero-title {
      font-size: 30px;
    }
    .contract__hero-subtitle {
      width: 100%;
    }
  
    .contract__img {
      width: 350px;
      height: 190px;
      display: block;
      float: right;
    }
}

@media screen and (max-width: 1024px) {
    .ops__box {
      flex-direction: column;
    }
    .ops__info {
      width: 100%;
    }
    .ops__img {
      min-width: 480px;
    }
  }
  @media screen and (max-width: 480px) {
    .ops__img {
      min-width: 0 !important;
      width: 280px;
      margin-top: -87px;
    }
}

@media screen and (max-width: 1024px) {
    .service__right {
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
    }
    .service__box {
      padding: 11px;
    }
}

@media screen and (max-width: 1024px) {
    .sng__box {
      padding: 1px 24px 0px;
    }
    .sng__container {
        flex-direction: column-reverse;
    }
    .sng__content {
        min-width: 100%;
    }
    .sng__right {
        display: flex;
        flex-direction: column;
        margin-top: 2px;
        min-width: 100% !important;
    }
    .sng__title {
        text-align: center;
    }
}
