

/* Start:/bitrix/components/bitrix/map.yandex.system/templates/.default/style.css?1565096761666*/
div.bx-yandex-map {color: black; font-size: 11px;}
div.bx-yandex-map div.YMaps-b-balloon-content {color: black; font-size: 11px;}
div.bx-popup-form div.bx-yandex-map div.YMaps-b-balloon-point div.YMaps-b-balloon div.YMaps-b-balloon-wrap table.YMaps-b-balloon-frame td {
	padding: 0px !important;
}


div.bx-popup-form div.bx-yandex-map div.YMaps-b-balloon-point div.YMaps-b-balloon div.YMaps-b-balloon-wrap table.YMaps-b-balloon-frame td textarea{
	font-size: 11px;
}


div.bx-popup-form div.bx-yandex-map div.YMaps-b-balloon-point div.YMaps-b-balloon div.YMaps-b-balloon-wrap table.YMaps-b-balloon-frame td.YMaps-b-balloon-b {
	background-image: none !important;
}

/* End */


/* Start:/local/components/sng/writefond/templates/.default/style.css?16914696993001*/
#popup-writefond .form__item {
    margin: 7px 0;
}
.writfond__counter {
    font-family: 'Roboto', sans-serif;
    color: #6a6a6a;
    font-size: 12px;
    text-align: right;
}

/* loader start */
.btn-loader{
    position: relative;
}
.btn-loader .loader{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -70px;
    margin-top: -7px;
    width: 140px;
    height: 14px;
}
.btn-loader.is-loading .loader{
    display: block;
}
.btn-loader.is-loading .btn-loader__text{
    opacity: 0;
}
.btn-loader .loader__block{
    border: 2px solid #ffffff;
    float: left;
    height: 14px;
    margin-left: 12px;
    width: 14px;
    opacity: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -ms-border-radius: 3px;
    animation-name: loader;
    -o-animation-name: loader;
    -ms-animation-name: loader;
    -webkit-animation-name: loader;
    -moz-animation-name: loader;
    animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}
.btn-loader .loader__block_1{
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
}
.btn-loader .loader__block_2{
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
.btn-loader .loader__block_3{
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}
.btn-loader .loader__block_4{
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}
.btn-loader .loader__block_5{
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}
@keyframes loader{
    0%{opacity:1;}
    100%{opacity:0;}
}
@-o-keyframes loader{
    0%{opacity:1;}
    100%{opacity:0;}
}
@-ms-keyframes loader{
    0%{opacity:1;}
    100%{opacity:0;}
}
@-webkit-keyframes loader{
    0%{opacity:1;}
    100%{opacity:0;}
}
@-moz-keyframes loader{
    0%{opacity:1;}
    100%{opacity:0;}
}
/* loader end */
/* End */


/* Start:/local/components/sng/banner/templates/.default/style.css?15846080931266*/
.banner-1{
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(85, 159, 210, 0.33);
    background-color: #FFFFFF;
    display: block;
}
@media screen and (max-width: 1024px) {
    .banner-1{
        margin-bottom: 10px;
    }
  }

.banner-1__box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 20px;
}

.banner-1__img {
    width: 52px;
    height: 52px;
    margin-left: 0;
    margin-right: 15px;
}

.banner-1__text {
    font-size: 14px;
    color: #6a6a6a;
    font-family: 'Roboto', sans-serif;
    width: 190px;
}

.banner-1:hover .banner-1__icon {
    animation: pulse 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 1024px) {
    .banner-1__text {
        width: 100%;
    }
  }

@keyframes pulse {
    0% {
        margin-left: 5px;
    }
    100% {
        margin-left: 12px;
    }
}

.banner-1__icon::before {
    margin-left: 5px;
    border-color: #32a5a5;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 25px;
    width: 25px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* End */
/* /bitrix/components/bitrix/map.yandex.system/templates/.default/style.css?1565096761666 */
/* /local/components/sng/writefond/templates/.default/style.css?16914696993001 */
/* /local/components/sng/banner/templates/.default/style.css?15846080931266 */
