/*cookie adaptation*/
@media screen and (max-width: 1024px) { 
    .cookie {
      width: 100% !important;
    }
  
    .cookie__box{
      display: flex;
      flex-direction: column;
    }
  
    .cookie__body {
      max-height: 178px;
      overflow-y: scroll;
    }
    .cookie__body>h5 {
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .cookie__list {
      flex-wrap: wrap;
    }
  
    .cookie__footer {
      padding: 20px 10px 0;
      justify-content: flex-start !important;
    }
  
    .cookie__item  {
      padding: 10px;
      width: 100% !important;
    }
  
    .cookie__item:first-child {
      margin-right: 0 !important;
    }
  }