/*footer adaptation*/
@media screen and (max-width: 1024px) {
  footer {
    br {
      display: none;
    }
    .footer__low {
      margin-bottom: 20px;
    }
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__left {
    margin-bottom: 30px;
  }
  .footer__image--napf {
    min-height: 100px;
  }
}
// @media screen and (max-width: 750px) {
//   .footer__middle-section>a>img{
//       width: 65px;
//       height: 65px;
//   }
//   .footer__right-section-left>a>img {
//     max-width: 213px;
//     -webkit-max-width: 213px;
//   }
// }
@media screen and (max-width: 480px) {
    .footer__list {
      flex-wrap: wrap;
      gap: 5px;
    }
}