/*body adaptation (global)*/
@media screen and (max-width: 1024px) { 
    body {
      min-width: 100%;
    }
    .container, .wrapper {
      min-width: 100% !important;
    }
    .calc-banner__body span{
      display: none;
    }
    .footer__calc {
      top: 60%;
      transform: translate(0,-60%);
    }
}