@media screen and (max-width: 1024px) {
    .sng__container {
      flex-direction: column-reverse;
    }
    .sng__content {
        min-width: 100%;
    }
    .sng__right {
        display: flex;
        flex-direction: column;
        margin-top: 2px;
        min-width: 100% !important;
    }
    .sng__cards {
        justify-content: center;
    }
    .sng__card {
        min-width: 100%;
    }
    .sng__title {
        text-align: center;
    }
    .sng__card-adaptation {
        flex-direction: column;
        align-items: center;
    }
    .sng__box {
        img {
            max-width: 100%;
        }
    }
}
@media screen and (max-width: 500px) {
    .sng__box {
        img {
            max-height: 300px;
        }
        table {
            margin: 0;
            td>p {
                font-size: 12px !important;
            }
        }
    }
}
