@media screen and (max-width: 1024px) {
    .sng__container {
      flex-direction: column-reverse;
    }
    .sng__content {
        min-width: 100%;
    }
    .sng__right {
        display: flex;
        flex-direction: column;
        margin-top: 2px;
        min-width: 100% !important;
    }
    .sng__cards {
        justify-content: center;
    }
    .sng__card {
        min-width: 100%;
    }
    .sng__title {
        text-align: center;
    }
    .sng__card-adaptation {
        flex-direction: column;
        align-items: center;
    }
    .sng__box {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1px 24px 13px;
        & p video {
          width: 100%;
        }
        & h3 {
          text-align: center;
        }
        & ul, ol {
          padding-left: 20px;
        }
        & p img {
          max-width: 500px;
        }
        & .graf-img {
          max-width: 100%;
          overflow-y: scroll;
        }
        & .npo-list ul{
          padding-left: 20px !important;
        }
        & br {
          display: none;
        }
        & hr {
          display: none;
        }
      }
      .sng__box>div {
        flex-wrap: wrap;
        flex-direction: column;
      }
    
}
@media screen and (max-width: 500px) {
    .sng__box {
        img {
            max-height: 300px;
        }
        table {
            margin: 0;
            td>p {
                font-size: 12px !important;
            }
        }
    }
}
