@media screen and (max-width: 1024px) {
  .form-group {
    align-self: flex-start;
  }
}
@media screen and (max-width: 1024px) {
  .main__sticky {
    margin-top: 333px !important;
  }
}
/*news adaptation*/
@media screen and (max-width: 1024px) {
  .news__link {
    height: auto;
    width: 100%;
  }
  .news__body > .row {
    justify-content: center;
  }
  .col-4 {
    min-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .news-page__box {
    min-height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .news-page__row {
    flex-direction: column;
  }
  .news-page__row .news-page__col {
    min-width: 100%;
  }
  .news-page__row .news-page__col .news-page__description {
    overflow-y: scroll;
  }
}
/*contract adaptation*/
@media screen and (max-width: 1024px) {
  .contract__box {
    flex-direction: column-reverse;
  }
  .contract__hero {
    width: 100%;
  }
  .contract__hero-number {
    float: left;
  }
  .contract__info {
    width: 100%;
    margin-top: 10px;
  }
  .contract___adaptBox {
    display: flex;
    width: 100%;
    height: inherit;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .contract__hero-title {
    font-size: 30px;
  }
  .contract__hero-subtitle {
    width: 100%;
  }
  .contract__img {
    width: 350px;
    height: 190px;
    display: block;
    float: right;
  }
}
/*ops adaptation*/
@media screen and (max-width: 1024px) {
  .ops__box {
    flex-direction: column;
  }
  .ops__info {
    width: 100%;
  }
  .ops__img {
    min-width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .ops__img {
    min-width: 0 !important;
    width: 280px;
    margin-top: -87px;
  }
}
/*service adaptation*/
@media screen and (max-width: 1024px) {
  .service__right {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  .service__box {
    padding: 11px;
  }
}
/* contracts adaptation */
@media screen and (max-width: 1024px) {
  .contacts__btn-box {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .contacts__btn-box > a {
    margin-left: 0 !important;
    min-width: 100%;
  }
  .contacts__btn {
    min-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .contacts h2 {
    text-align: center;
  }
  .contacts__row-left {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacts__row-boss {
    flex-wrap: wrap;
    gap: 50px;
  }
  .contacts__row-mobile__down > .contacts__col:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .contacts__info {
    min-width: 352px !important;
    position: relative;
    left: 0;
    text-align: center;
    padding: 0 24px;
  }
  .contacts__info p {
    max-height: 215px;
    overflow-y: scroll;
  }
  .contacts__box {
    margin-right: 0 !important;
  }
  .more__contacts-box {
    justify-content: center;
  }
  .more__contacts-box > .contacts__col:not(:last-child) {
    justify-content: center;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .contacts__email {
    width: 100%;
  }
}
@media screen and (min-width: 753px) {
  .contacts__row-mobile__down > .contacts__col {
    margin-bottom: 0px !important;
  }
}
@media screen and (max-width: 360px) {
  .contacts__info {
    min-width: 280px !important;
    position: relative;
    left: 0;
    text-align: center;
    max-width: 350px;
  }
  .contacts__info p {
    max-width: 320px;
    overflow-y: inherit;
    height: auto;
    margin-bottom: 100px;
  }
  .contacts__row-boss {
    gap: 10px;
  }
}
/*slick-slider adaptation*/
@media screen and (max-width: 1024px) {
  .hero__adaptation-elem {
    width: 300px;
  }
  .hero__img-adaptation {
    position: absolute;
    top: 50px;
    width: 100px;
    height: auto;
    margin: 0 !important;
  }
  .hero__title {
    font-size: 25px;
    line-height: 35px;
    max-width: 450px;
  }
  .hero__description {
    max-width: 550px;
    line-height: 1.5;
  }
  .hero__item-fond_28 {
    background-image: none;
  }
}
@media screen and (max-width: 560px) {
  .hero__title {
    max-width: 350px;
  }
  .hero__title-adaptation {
    width: 100%;
  }
  .hero__description {
    max-width: 350px;
  }
  .hero__img-adaptation {
    width: 80px;
  }
}
@media screen and (max-width: 415px) {
  .hero__img-2 {
    display: none !important;
  }
}
@media screen and (max-width: 450px) {
  .hero__img-1 {
    display: none !important;
  }
}
@media screen and (max-width: 380px) {
  .hero__title {
    max-width: 260px;
    font-size: 20px;
    margin-bottom: 0px !important;
    line-height: 25px;
  }
  .hero__description {
    max-width: 260px;
    font-size: 14px;
    margin-top: 0px !important;
  }
  .hero__img-adaptation {
    display: none !important;
  }
  .hero__adaptation-elem {
    max-width: 250px;
    height: 100px !important;
  }
  .hero__img-numbers {
    height: 25px !important;
  }
  .contract__img {
    max-width: 290px;
  }
}
@media screen and (max-width: 1024px) {
  .hint {
    top: 0px;
  }
}
/*breadcrumbs adaptation*/
@media screen and (max-width: 1024px) {
  .breadcrumbs__content {
    overflow: scroll;
  }
  .breadcrumbs__link {
    display: block;
    line-height: 15px;
    white-space: nowrap;
  }
  .breadcrumbs__content > div:nth-child(2) {
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .breadcrumbs__text {
    white-space: nowrap;
    padding-right: 1em;
  }
}
/*yandex map adaptation*/
@media screen and (max-width: 1024px) {
  .bx-yandex-view-layout {
    max-width: 100% !important;
  }
}
@media screen and (max-width: 600px) {
  .ymaps-map {
    max-height: 300px !important;
  }
  .bx-yandex-map {
    max-height: 300px !important;
  }
}
/*table adaptation*/
@media screen and (max-width: 1024px) {
  .table__wrapper {
    max-width: 100%;
    overflow: scroll;
  }
  .img-wrapper-adaptation {
    max-width: 100%;
    overflow: scroll;
  }
  .img-wrapper-adaptation img {
    min-width: 650px !important;
  }
  .certificate-box {
    margin-bottom: 20px;
  }
  .self-margin-top {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .calc .form-row {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .col-7 {
    min-width: 100%;
  }
  .col-8 {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    min-width: 100%;
  }
}
/*important styles*/
@media screen and (max-width: 1024px) {
  .form-check-nowrap {
    margin-top: 0 !important;
  }
}
/*cookie adaptation*/
@media screen and (max-width: 1024px) {
  .cookie {
    width: 100% !important;
  }
  .cookie__box {
    display: flex;
    flex-direction: column;
  }
  .cookie__body {
    max-height: 178px;
    overflow-y: scroll;
  }
  .cookie__body > h5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .cookie__list {
    flex-wrap: wrap;
  }
  .cookie__footer {
    padding: 20px 10px 0;
    justify-content: flex-start !important;
  }
  .cookie__item {
    padding: 10px;
    width: 100% !important;
  }
  .cookie__item:first-child {
    margin-right: 0 !important;
  }
}
/* burger menu */
.burger-open-svg {
  display: block;
}

.burger-close-svg {
  display: none;
}

.adaptive__logo {
  display: block;
}

.desktop_logo {
  display: none;
}

.burger-menu {
  display: none;
  width: 40px;
  height: 40px;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
}

/*header adaptation and burger*/
@media screen and (max-width: 1024px) {
  .head {
    height: 100px;
  }
  .head__sticky {
    top: 240px;
  }
  .header-col-12 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .desktop_logo {
    display: block;
  }
  .desktop_logo > img {
    width: 190px;
  }
  .nav {
    flex-wrap: nowrap;
    overflow-y: scroll;
    display: none !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 20px 16px;
    flex-direction: column;
    align-items: flex-start !important;
    background-color: white;
    z-index: 9999;
    justify-content: space-between !important;
    align-items: flex-start !important;
    padding-bottom: 120px;
  }
  .burger-menu {
    display: flex;
  }
  .adaptive__logo {
    display: none;
  }
  .nav__list-middle {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    margin-bottom: 15px;
    /* margin-left: 15px !important; */
    align-items: flex-start !important;
    overflow-y: scroll;
  }
  .adaptive__logo > img {
    width: 190px;
  }
  .burger-open {
    display: flex !important;
  }
  nav.burger-open ~ .burger-menu > .burger-open-svg {
    display: none;
    /* background: url('https://client.npf-sng.ru/local/markup/build/svg/close.svg') no-repeat center; */
  }
  nav.burger-open ~ .burger-menu > .burger-close-svg {
    display: block;
  }
  .body-overflow-hidden {
    overflow: hidden;
  }
  /*burger panel*/
  .panel__item-box-fond {
    margin-left: 15px !important;
  }
  .panel__item-box-program {
    margin-left: 15px !important;
  }
  .panel__item-box-results {
    margin-left: 15px !important;
  }
  .panel__item-box-ourClients {
    margin-left: 15px !important;
  }
  .panel__link {
    font-size: 16px !important;
    color: #0069aa;
    font-weight: 400;
    margin: 0 !important;
  }
  .panel__item {
    margin-bottom: 0;
  }
  .nav__link {
    font-size: 1.3rem !important;
  }
  .nav__list-middle > .nav__item {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .nav__list-right {
    width: 100%;
  }
  .nav__list-right li {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .nav__social-container {
    max-width: 80%;
    text-align: center;
    margin-bottom: 20px;
  }
  .nav__lastChild-btn {
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px !important;
  }
  .panelEndWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .nav__list__lastChild {
    width: 100%;
  }
  .nav__last__child {
    width: 100%;
  }
  .nav__last__child a:last-child {
    font-size: 18px !important;
  }
}
.links_box-show {
  display: block !important;
}

@media screen and (max-width: 1024px) {
  .panel {
    display: none;
    z-index: 0;
  }
  .bg {
    z-index: 0 !important;
    display: none;
  }
  .panel__item {
    margin-bottom: 3px;
  }
}
.panel__item-box-fond {
  height: auto;
  display: none;
}

.panel__item-box-program {
  height: auto;
  display: none;
}

.panel__item-box-results {
  height: auto;
  display: none;
}

.panel__item-box-ourClients {
  height: auto;
  display: none;
}

@media screen and (max-width: 1024px) {
  .sng__container {
    flex-direction: column-reverse;
  }
  .sng__content {
    min-width: 100%;
  }
  .sng__right {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    min-width: 100% !important;
  }
  .sng__card-adaptation .sng__card {
    min-height: unset !important;
    max-height: unset !important;
  }
  .sng__card-adaptation .sng__card img {
    max-width: 56px !important;
  }
  .sng__card-adaptation .sng__card-min {
    min-height: unset !important;
    max-height: unset !important;
  }
  .sng__cards {
    justify-content: center;
  }
  .sng__card {
    min-width: 100%;
  }
  .sng__title {
    text-align: center;
  }
  .sng__card-adaptation {
    flex-direction: column;
    align-items: center;
  }
  .sng__box {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1px 24px 13px;
  }
  .sng__box p video {
    width: 100%;
  }
  .sng__box h3 {
    text-align: center;
  }
  .sng__box ul, .sng__box ol {
    padding-left: 20px;
  }
  .sng__box p img {
    max-width: 500px;
  }
  .sng__box .graf-img {
    max-width: 100%;
    overflow-y: scroll;
  }
  .sng__box .npo-list ul {
    padding-left: 20px !important;
  }
  .sng__box br {
    display: none;
  }
  .sng__box hr {
    display: none;
  }
  .sng__box img {
    max-width: 100%;
  }
  .sng__box > div {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .offset-1 {
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .sng__box img {
    max-height: 300px;
  }
  .sng__box table {
    margin: 0;
  }
  .sng__box table td > p, .sng__box table span {
    font-size: 12px !important;
  }
}
/*ops adaptation*/
@media screen and (max-width: 1024px) {
  .pension-ops__section-item > .sng__link-medium {
    display: block;
    width: 100%;
  }
  .privilege__list {
    display: flex;
    flex-wrap: wrap;
  }
  .privilege__left {
    min-width: 70%;
  }
  .privilege__right {
    min-width: 70%;
    margin-top: 20px;
  }
  .privilege__list > div > div > p {
    min-width: 100%;
  }
  .privilege__item:not(:last-child) {
    margin-bottom: 20px !important;
  }
  .pension-ops__section > .pension-ops__section-item:nth-child(6) img {
    width: 100% !important;
  }
  .pension-ops__section > .pension-ops__section-item:last-child div {
    flex-direction: column;
  }
  .pension-ops__section > .pension-ops__section-item:last-child div img {
    width: 100% !important;
  }
  .pension-ops__section > .pension-ops__section-item:last-child div div:last-child br {
    display: none;
  }
  .pension-ops__section > .pension-ops__section-item:last-child div div:last-child a {
    display: block;
  }
  .pension-ops__section > .pension-ops__section-item:last-child div div:last-child a:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 440px) {
  .privilege__right {
    margin-top: 30px;
  }
  .privilege__list > div {
    min-width: 100%;
  }
  .privilege__list > div > div {
    flex-direction: column;
  }
  .privilege__list > div > div > img {
    margin-right: 0 !important;
  }
  .privilege__list > div > div > p {
    text-align: center;
  }
  .privilege__item:not(:last-child) {
    margin-bottom: 30px !important;
  }
}
/*footer adaptation*/
@media screen and (max-width: 1024px) {
  footer br {
    display: none;
  }
  footer .footer__low {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__image--napf {
    padding-top: 10px;
  }
  .footer__right {
    min-height: 150px;
    margin-top: 20px;
    padding-top: 20px;
  }
  .footer__right-section-left {
    justify-content: space-between;
  }
}
@media screen and (max-width: 480px) {
  .footer__list {
    flex-wrap: wrap;
    gap: 5px;
  }
}
/*body adaptation (global)*/
@media screen and (max-width: 1024px) {
  body {
    min-width: 100%;
  }
  .container, .wrapper {
    min-width: 100% !important;
  }
  .calc-banner__body span {
    display: none;
  }
  .footer__calc {
    top: 60%;
    transform: translate(0, -60%);
  }
}/*# sourceMappingURL=adaptation.css.map */